services:
  ib-gateway:
    image: gnzsnz/ib-gateway:stable
    container_name: ib-gateway
    restart: no
    env_file:
      - .env
    environment:
      # defined in .env: TWS_USERID, TWS_PASSWORD, TRADING_MODE
      - TWS_SETTINGS_PATH=/root/Jts
    ports:
      - "4001:4001" # Live API Port
      - "4002:4002" # Paper API Port
      - "5900:5900" # VNC (Optional Debugging)

