services:
  ib-gateway:
    image: gnzsnz/ib-gateway:stable
    container_name: ib-gateway
    restart: no
    env_file:
      - .env
    environment:
      # defined in .env: TWS_USERID, TWS_PASSWORD, TRADING_MODE
      - TWS_SETTINGS_PATH=/home/ibgateway/Jts
      - TWS_ACCEPT_INCOMING=accept
      - READ_ONLY_API=no
      - TRADING_MODE=${TRADING_MODE:-paper}
    ports:
      - "4001:4003" # Map host 4001 to container's socat port 4003
      - "4002:4003" # Map host 4002 to container's socat port 4003
      - "5900:5900" # VNC (Optional Debugging)

